.chatroom-container {
  text-align: center;
  margin-top: 50px;
}

.chatroom-container ul {
  list-style-type: none;
  padding: 0;
}

.chatroom-container li {
  padding: 5px 0;
}

.chatroom-container button {
  padding: 10px 20px;
  margin-top: 20px;
}
